ul.nav__list {
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

.nav a, .nav label {
    display: block;
    padding: .85rem;
    color: #fff;
    background-color: #FA6343;
    box-shadow: inset 0 -1px #1d1d1d;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
    color: rgba(0, 0, 0, 1);
    background: #FA9267;
}

.nav label { cursor: pointer; }

.group-list a, .group-list label {
    padding-left: 2rem;
    background: #5683cc;
    box-shadow: inset 0 -1px #373737;
}

.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #87a9e0; }

/**
 * Styling second level list items
 */

.sub-group-list a, .sub-group-list label {
    padding-left: 4rem;
    background: #5683cc;
    box-shadow: inset 0 -1px #474747;
}

.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #87a9e0; }

/**
 * Styling third level list items
 */

.sub-sub-group-list a, .sub-sub-group-list label {
    padding-left: 6rem;
    background: #5683cc;
    box-shadow: inset 0 -1px #575757;
}

.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #87a9e0; }


/**
 * Styling fourth level list items
 */

.sub-sub-sub-group-list a, .sub-sub-sub-group-list label {
    padding-left: 6rem;
    background: #5683cc;
    box-shadow: inset 0 -1px #575757;
}

.sub-sub-sub-group-list a:focus, .sub-sub-sub-group-list a:hover, .sub-sub-sub-group-list label:focus, .sub-sub-sub-group-list label:hover { background: #87a9e0; }

/**
 * Hide nested lists
 */

.group-list, .sub-group-list, .sub-sub-group-list .sub-sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
}

/* reset the height when checkbox is checked */
.nav__list input[type=checkbox]:checked + label + ul {
    max-height: 2000px; }


label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
}

.nav__list input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

table.api-doc-table {
    width: 80%;
    border: 1px solid #000;
}

table.api-doc-table td {
    border: 1px solid #000;
}

table.postman-example {
    width: 80%;
}

td.api-doc-field-postman-title {
    width: 25%;
}

table.postman-example td {
    border-bottom: 1px solid #000;
}

.api-doc-field-image img {
    width: 100%;
}
